@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

:root {
  --primary-col: white;
  --secondary-col: #C4C4C4;
  --tertiary-col: #848895;

  --border-primary-col: #A962FF;
  --border-secondary-col: white;

  --indicator-col: #9945FF;
  --v-indicator-blue-col: #1FCFF1;
  --v-indicator-yellow-col: #FFD512;
  --v-indicator-purple-col: #9945FF;
  --v-indicator-green-col: #19FB9B;

  --header-bg-col: #000000;
  --icon-bg-col: #111111;
  --border-col: rgba(255, 255, 255, 0.15);
  --bg-dark-30-col: rgba(0, 0, 0, 0.3);
  --bg-dark-60-col: rgba(0, 0, 0, 0.6);

  --btn-bg-def: linear-gradient(98.88deg, #8C01FA -2.99%, #18002B 102.28%);
  --btn-bg-hov: linear-gradient(98.88deg, #8C01FA -2.99%, #8C01FA 102.28%);
  --btn-bg-press: linear-gradient(98.88deg, #18002B -2.99%, #18002B 102.28%);
}

html {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: white;
}

body {
  background: #000;
  overflow-x: hidden;
}

h2, h3 {
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  line-height: 57.6px;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.75rem;
  line-height: 33.6px;
  margin: 0;
}

p {
  margin: 0;
  line-height: 27px;
}

button {
  border: none;
}

ul {
  list-style: none;
}

.content-wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 20px 0;
  background-color: var(--header-bg-col);
  border-bottom: 1px solid var(--border-col);
  position: fixed;
  top: 0;
  z-index: 100;
}

.logo {
  max-width: 188.42px;
  max-height: 42px;
  width: 9.814vw;
}

/* banner section */

.banner {
  position: relative;
  height: 834px;
}

.banner-image {
  position: absolute;
  top: 10%;
  left: -25%;
  z-index: -2;
}

.solana-logo {
  position: absolute;
  bottom: -15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.invocation-block {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  padding-top: 202px;
}

.invocation-block h1 {
  font-size: 4.25rem;
  font-weight: 500;
  line-height: 81.6px;
  letter-spacing: -2px;
  text-align: center;
}

.invocation-block p {
  font-size: 1.375rem;
  line-height: 33px;
  letter-spacing: -2px;
  text-align: center;
}

.invocation-block p span {
  font-weight: 500;
}

.invocation-block h1,
.invocation-block p {
  margin-bottom: 50px;
}

/* about section */

.about {
  position: relative;
  margin-top: 142px;
  margin-bottom: 170px;
  padding: 54px 0;
}

.about__text-container {
  max-width: 550px;
  width: 100%;
}

.about__text-container h2 {
  margin-bottom: 50px;
}

.about__text-container h3 {
  position: relative;
  margin-bottom: 20px;
  padding-left: 10.5px;
}

.about__text-container h3::before {
  content: '';
  position: absolute;
  display: block;
  height: 6px;
  max-width: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--indicator-col);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__text-container p {
  font-size: 1.375rem;
  line-height: 33px;
  color: var(--secondary-col);
}

.about__text-container p span {
  font-weight: 500;
}

.about__pic-container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__pic-container img {
  border-radius: 30px 0px 0px 30px;
  border: 1px 0px 1px 1px var(--border-col);
}

/* advantages section */

.advantages-bg {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.advantages {
  position: relative;
  margin-bottom: 170px;
}

.advantages h2 {
  margin-bottom: 50px;
}

.advantages-item-container {
  height: 195px;
  padding: 30px;
  border-radius: 24px;
  border: 1px solid var(--border-col);
  background-color: var(--bg-dark-30-col);
}

.advantages-item-container:nth-child(1),
.advantages-item-container:nth-child(2),
.advantages-item-container:nth-child(3),
.advantages-item-container:nth-child(4),
.advantages-item-container:nth-child(5),
.advantages-item-container:nth-child(6) {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.advantages-item-container:nth-child(1) {
  background-image: url('/assets//pictures/scr3_img1.png');
}

.advantages-item-container:nth-child(2) {
  background-image: url('/assets//pictures/scr3_img2.png');
}

.advantages-item-container:nth-child(3) {
  background-image: url('/assets//pictures/scr3_img3.png');
}

.advantages-item-container:nth-child(4) {
  background-image: url('/assets//pictures/scr3_img4.png');
}

.advantages-item-container:nth-child(5) {
  background-image: url('/assets//pictures/scr3_img5.png');
}

.advantages-item-container:nth-child(6) {
  background-image: url('/assets//pictures/scr3_img6.png');
}

.advantages-item-container:nth-child(1),
.advantages-item-container:nth-child(4),
.advantages-item-container:nth-child(5) {
  max-width: 618px;
  width: 100%;
}

.advantages-item-container:nth-child(2),
.advantages-item-container:nth-child(3),
.advantages-item-container:nth-child(6) {
  max-width: 418px;
  width: 100%;
}

.advantages-item-container h3 {
  padding-left: 17px;
  position: relative;
  margin-bottom: 20px;
}

.advantages-item-container h3::before {
  content: '';
  position: absolute;
  display: block;
  height: 34px;
  width: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.advantages-item-container:nth-child(1) h3::before,
.advantages-item-container:nth-child(5) h3::before {
  background-color: var(--v-indicator-blue-col);
}

.advantages-item-container:nth-child(2) h3::before,
.advantages-item-container:nth-child(6) h3::before {
  background-color: var(--v-indicator-yellow-col);
}

.advantages-item-container:nth-child(3) h3::before {
  background-color: var(--v-indicator-purple-col);
}

.advantages-item-container:nth-child(4) h3::before {
  background-color: var(--v-indicator-green-col);
}

.advantages-item-container p {
  font-size: 1.125rem;
}

.advantages-item-container p span {
  font-weight: 500;
}


/* why us */

.why-us {
  position: relative;
}

.why-us-bg {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

.planet {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.why-us h2 {
  margin-bottom: 10px;
}

.why-us .description {
  margin-bottom: 50px;
  color: var(--secondary-col);
  font-size: 1.375rem;
}

.why-us-item-container {
  padding: 30px;
  border-radius: 24px;
  border: 1px solid var(--border-col);
  background-color: var(--bg-dark-60-col);
}

.why-us-item-container:nth-child(1),
.why-us-item-container:nth-child(2) {
  max-width: 518px;
  width: 100%;
  height: 329px;
}

.why-us-item-container:nth-child(3) {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.why-us-icon-container {
  background-color: var(--icon-bg-col);
  border-radius: 10px;
  padding: 5px;
  height: 50px;
}

.why-us-item-title {
  margin-bottom: 20px;
}

.why-us-item-container p {
  font-size: 1.125rem;
  color: var(--secondary-col);
}

.why-us-item-container p span {
  font-weight: 500;
}

.why-us-item-container:last-of-type p {
  text-align: center;
  height: 135px;
}
