.flex-xCenter-yCenter,
.flex-yCenter-xCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-yCenter {
  display: flex;
  align-items: center;
}

.flex-yCenter-gap {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.flex-yCenter-xBetween,
.flex-xBetween-yCenter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
