/* Here you can search for different classes of ui elements */
/*
  # Content

  1. primary button
  2. secondary button
  3. navigation
    - arrow
    - burger
  4. media query
*/

/* ============ primary button ============ */

.primary-button {
  padding: 16px 32px 16px 32px;
  border-radius: 50px;
  background: var(--btn-bg-def);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 27px;
  color: var(--primary-col);
  text-transform: uppercase;
  letter-spacing: 3%;
}

.primary-button:hover {
  background: var(--btn-bg-hov);
  cursor: pointer;
}

.primary-button:active {
  background: var(--btn-bg-press);
  color: var(--tertiary-col);
}

/* ============ secondary button ============ */

.secondary-button {
  padding: 6px 12px 6px 12px;
  font-size: 1.125rem;
  color: var(--primary-col);
  line-height: 27px;
  background-color: transparent;
  border-radius: 15px;
}

.secondary-button:hover {
  cursor: pointer;
}

.secondary-button_border-color_primary {
  border: 1px solid var(--border-primary-col);
}

.secondary-button_border-color_secondary {
  border: 1px solid var(--border-secondary-col);
}

/* ============ navigation ============ */

.navigation__nav-item {
  position: relative;
  font-size: 1.125rem;
  color: var(--tertiary-col);
  line-height: 27px;
  text-decoration: none;
}

.navigation__nav-item:hover {
  color: var(--primary-col);
  cursor: pointer;
}

.navigation__nav-item::before {
  content: '';
  position: absolute;
  display: block;
  height: 6px;
  max-width: 6px;
  width: 0;
  border-radius: 50%;
  background-color: var(--indicator-col);
  left: -10.5px;
}

.navigation__nav-item_link_active::before {
  width: 100%;
}

/* arrow */

.arrow-nav-icon {
  fill: var(--tertiary-col);
}

.navigation__nav-item:hover .arrow-nav-icon {
  fill: var(--primary-col);
  cursor: pointer;
}

/* burger */

.burger-button {
  height: 40px;
  background-color: transparent;
  padding: 0;
}

.burger-button_visibility_hidden {
  display: none;
}

.burger-button_visibility_visible {
  display: block;
}

/* ============ crawlway ============ */

#crawlwayContainer-1,
#crawlwayContainer-2 {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  z-index: -1;
}

#crawlwayContainer-1 {
  top: 25%;
  transform: translateY(-50%) rotate(10deg);
}

#crawlwayContainer-2 {
  transform: translateY(50%) rotate(-10deg);
  bottom: 9%;
}

.crawlwayRow-1,
.crawlwayRow-2 {
  display: inline-flex;
  animation: scroll 15s linear infinite;
}

.crawlwayRow-1 {
  animation-direction: reverse;
}

.crawlwayRow-1 img,
.crawlwayRow-2 img {
  filter: blur(2px);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 600px) {
  .nav-list {
    max-width: 345px;
    width: 100%;
    margin: 0 auto;
  }

  .primary-button {
    width: 340px;
  }

  #crawlwayContainer-1 {
    top: 21%;
    transform: translateY(-50%) rotate(10deg);
  }
  
  #crawlwayContainer-2 {
    transform: translateY(50%) rotate(-10deg);
    bottom: 9%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .nav-list {
    margin: 0 auto;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .nav-list {
    max-width: 81.176vw;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .nav-list {
    max-width: 600px;
  }
}

@media (max-width: 1024px) {
  .navigation {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--header-bg-col);
    padding: 20px 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .burger-button {
    display: flex;
  }

  .navigation__nav-item {
    padding: 10px 0;
  }

  #navigation.active {
    display: flex;
    flex-wrap: wrap;
  }
}
